<div id="ee-title-container">Gender EQ</div>
<div id="ee-subtitle-container">11/7/16</div>
<div id="jumbo-container"></div>
<div id="carousel-container">
    <div id="left-arrow-container">
        <!-- need to make arrow clickable and show another highcharts -->
      <i class="fa fa-angle-left fa-5x"></i>
    </div>
    <div id="main-chart-container"></div>
    <div id="right-arrow-container">
        <!-- make right arrow greyed out on most recent -->
        <!-- <i class="fa fa-angle-right fa-5x"></i> -->
    </div>
</div><br><br>

  <!-- <div style="display: flex; flex-direction: row;">
    <div id="progression-container" style="font-size: 36px; ; color: #000;">Progression</div>
    <div id="growth-container" style="font-size: 36px; ; color: #000;">Growth</div>
  </div> -->

<div id="overall-charts-container">
  <div id="activity-gauge-container"></div>
    <!-- make container wider then use space around -->
  <div id="area-chart-container"></div>
</div>
