<div id="background">

  <div id="jumbo-container" style="width: 100%; height: 100%; color: white; background-color: #FFF;">

  <div id="dashboard-header" style="width: 75%; margin: 0 auto; text-align: center;">
    <p style="font-size: 36px;">Self Reflection Results for Shippo</p>
  </div>

  <div id="carousel-container" style="height: 200%; width: 75%; display: flex; align-items: center; margin: 0 auto;">
      <div id="left-arrow-container" style="width: 5%">
        <!-- need to make arrow clickable and show another highcharts -->
        <i class="fa fa-angle-left fa-5x" style="color:black;"></i>
      </div>
      <div id="main-chart-container" style="width:90%; height:50%;"></div>
      <div id="right-arrow-container" style="width: 5%; text-align:right;">
        <!-- <i class="fa fa-angle-right fa-5x"></i> -->
      </div>
  </div><br><br>

  <div id="overall-reflection-header" style="width: 65%; margin: 0 auto; text-align: center;">
    <p style="font-size: 36px;">Overall Reflection Results</p>
  </div>

  <div id="overall-charts-container" style="display: flex; justify-content: space-between;width:80%;margin: 0 auto;">
    <div id="activity-gauge-container" style="width:48%; height:25%; "></div>
    <!-- make container wider then use space around -->
    <div id="area-chart-container" style="width:48%; height:25%;"></div>
  </div>

  </div>
</div>

<div style="height: 10em; background-color: #FFF"></div>
