<div id="jumbo-container" style="width: 100%; height: 100vh; color: white; background-color: #3C3C3E;">

<div id="dashboard-header" style="width: 75%; margin: 0 auto; text-align: center;">
  <p><h1>ＨＵＭＡＮＩＺＥ</h1></p>
  <p>Reflection Results for Shippo</p>
</div>

<div id="main-chart-container" style="width:75%; height:50%;margin: 0 auto;">memes</div>

<div id="overall-reflection-header" style="width: 75%; margin: 0 auto; text-align: center;">
  <p>Overall Reflection Results</p>
</div>

<div id="overall-charts-container" style="display: flex; justify-content: space-between;width:50%;margin: 0 auto;">
  <div id="activity-gauge-container" style="width:50%; height:25%;">test</div>
  <div id="area-chart-container" style="width:50%; height:25%;">test</div>
</div>

</div>
