<div id="ee-title-container">Gender EQ</div>
<div id="ee-subtitle-container"><%= date_parser('11/7/16') %></div>
<div id="biggy-container">
  <div id="carousel-container">
      <div id="left-arrow-container">
          <!-- need to make arrow clickable and show another highcharts -->
        <a href='#'><i class="fa fa-angle-left fa-5x" style="color: black;"></i></a>
      </div>
      <div id="main-chart-container"></div>
      <div id="right-arrow-container">
          <!-- SLAP IN HELPER METHOD TO ADJUST COLOR -->
          <!-- so if false, show arrow with gray, else show arrow with black. needs in line css bc of bootstrap -->
            <i class="fa fa-angle-right fa-5x" style="color: #f3f3f3;"></i>
      </div>
  </div><br><br>

  <div id="overall-charts-container">
    <div id="gauge-container">
      <div id="gauge-header">
        <div>Progression</div>
      </div>
      <div id="activity-gauge-container"></div>
    </div>

    <div id="growth-container">
      <div id="growth-header">
        <div>% Growth in Swag</div>
      </div>
      <div id="area-chart-container"></div>
    </div>
  </div>
</div>

<div id="extra-space"></div>
