

<div id="dashboard-header" style="width: 75%; margin: 0 auto; text-align: center;">
  <p><h1>ＨＵＭＡＮＩＺＥ</h1></p>
  <p>Reflection Results for Shippo</p>
</div>

<div id="main-chart-container" style="width:75%; height:50%;background-color:green;margin: 0 auto;">memes</div>

<div id="overall-reflection-header" style="width: 75%; margin: 0 auto; text-align: center;">
  <p>Overall Reflection Results</p>
</div>

<div id="overall-charts-container" style="display: flex; justify-content: space-between;width:50%;margin: 0 auto;">
  <div id="activity-gauge-container" style="width:50%; height:25%;background-color:red;">test</div>
  <div id="line-chart-container" style="width:50%; height:25%;background-color:blue;">test</div>
</div>
