<section id="one">
  <div class="inner">
    <div class="inner-container-one">
      <div class="screen-text-one">HumanizeBot is the leading workplace tool to help track and improve emotional intelligence.
      </div>
      <div class="main-bot-container">
        <%= image_tag("h-bot2.png", :id => "main-bot") %>
      </div>
    </div>
  </div>
</section>
<section id="two">
  <div class="inner" style="border-top: 1px solid #000;">
    <div class="inner-container-two">
      <div class="info-container-one info-container">
        <div class="icon-container">
          <i class="fa fa-fw fa-edit info-icon info-icon-one" aria-hidden="true"></i>
        </div>
        <div class="info-text-one info-text">
          HumanizeBot is the leading workplace tool to help track and improve emotional intelligence.
        </div>
      </div>
      <div class="info-container-two info-container">
        <div class="info-text-two info-text">
          HumanizeBot is the leading workplace tool to help track and improve emotional intelligence.
        </div>
        <div class="icon-container">
          <i class="fa fa-fw fa-comments-o info-icon info-icon-two" aria-hidden="true"></i>
        </div>
      </div>
      <div class="info-container-three info-container">
        <div class="icon-container">
          <i class="fa fa-fw fa-smile-o info-icon info-icon-three" aria-hidden="true"></i>
        </div>
        <div class="info-text-three info-text">
          HumanizeBot is the leading workplace tool to help track and improve emotional intelligence.
        </div>
      </div>
    </div>
  </div>
</section>
<section id="three">
  <div class="inner">
    <h2>It's getting dark.</h2>
    <p>I am really tired. Can we go to bed now?</p>
  </div>
</section>
<section id="four">
  <div class="inner">
    <h2>Turn off the lights!</h2>
    <p>It's time to sleep - Good Night!</p>
  </div>
</section>
