<section id="one">
  <div class="inner">
    <div class="inner-container-one">
      <div class="screen-text-one">HumanizeBot is the leading workplace tool to help track and improve emotional intelligence.
      </div>
      <div class="main-bot-container">
        <%= image_tag("h-bot2.png", :id => "main-bot") %>
      </div>
    </div>
  </div>
</section>
<section id="two">
  <div class="inner" style="border-top: 1px solid #000;">
    <div class="inner-container-two">
      <div class="info-container-one info-container">
        <div class="icon-container">
          <i class="fa fa-fw fa-edit info-icon info-icon-one" aria-hidden="true"></i>
        </div>
        <div class="info-text-one info-text">
          HumanizeBot is the leading workplace tool to help track and improve emotional intelligence.
        </div>
      </div>
      <div class="info-container-two info-container">
        <div class="info-text-two info-text">
          HumanizeBot is the leading workplace tool to help track and improve emotional intelligence.
        </div>
        <div class="icon-container">
          <i class="fa fa-fw fa-comments-o info-icon info-icon-two" aria-hidden="true"></i>
        </div>
      </div>
      <div class="info-container-three info-container">
        <div class="icon-container">
          <i class="fa fa-fw fa-smile-o info-icon info-icon-three" aria-hidden="true"></i>
        </div>
        <div class="info-text-three info-text">
          HumanizeBot is the leading workplace tool to help track and improve emotional intelligence.
        </div>
      </div>
    </div>
  </div>
</section>
<section id="three">
  <div class="inner">
    <div class="inner-container-three">
      HumanizeBot integrates seamlessly into your team's existing workflow.<br><br>
      <img src="https://a.slack-edge.com/0180/img/tour/everywhere.png">
    </div>
  </div>
</section>
<section id="four">
  <div class="inner">
    <div class="inner-container-four">
      Real-time data to see how your team is improving in terms of emotional intelligence.<br><br>
      <img src="https://files.slack.com/files-pri/T2YLXEAEB-F30TJ5VSB/screen_shot_2016-11-07_at_3.33.58_pm.png" width="300" height="188">

      <img src="https://files.slack.com/files-pri/T2YLXEAEB-F309X5LP7/screen_shot_2016-11-07_at_3.35.50_pm.png" width="300" height="334">
    </div>
  </div>
</section>
<section id="five">
  <div class="inner">
    <div class="inner-container-five">
      <h1>Privacy</h1>
      At Humanize, your privacy is very important to us. This is why <strong>all surveys are completely anonymous</strong>. We do not track or store any data specific to a single user.
    </div>
  </div>
</section>
<section id="six">
  <div class="inner">
    <div class="inner-container-six">
      hi ilaria and ellie, y'all are gucci af 👌<br>
      -chris and sally<br>
      <%= image_tag("h-bot2.png", :id => "main-bot") %>
    </div>
  </div>
</section>

<i class="fa fa-angle-down arrow fa fa-5x" aria-hidden="true"></i>
