<h1>Index#index</h1>
<p>Find me in app/views/index/index.html.erb</p>

<p>humanizer humanizer</p>

<p id="first-paragraph">All you have to do is let your imagination go wild. There are no limits in this world. With something so strong, a little bit can go a long way. That's a crooked tree. We'll send him to Washington. Exercising the imagination, experimenting with talents, being creative; these things, to me, are truly the windows to your soul.</p>

<img id="main-bot" src="h-bot2.png">
