<h2 id="first-paragraph">Humanize is the leading workplace tool to help track and improve emotional intelligence.</h2>

<!-- <img id="main-bot" src="/images/h-bot2.png" /> -->
<%= image_tag("h-bot2.png", :id => "main-bot") %>
