<form id="<%= @form_id %>" class="survey" action="http://humanize-api.herokuapp.com/api/responders" method="post" style="width: 20%; margin: 0 auto;">

  <div class="card">
    <!-- Alternative to card headers: card titles. Explore -->
    <div class="card-header">
      About Me
    </div>
    <div class="card-block card-block text-xs-center">
      Is this centered shit working?
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Self-Reflection
    </div>
    <div class="card-block">

    </div>
  </div>

  <% if pre?(@form_id) %>
    <input type="hidden" name="redirect-path" value="tips">
    <button data-toggle="modal" data-target="#thanks-before" style="width:75%; margin: 0 auto;">Submit</button>
  <% else %>
    <input type="hidden" name="redirect-path" value="splash">
    <button data-toggle="modal" data-target="#thanks-after"　style="width:75%; margin: 0 auto;">Submit</button>
  <% end %>

</form>

<%= render partial: "layouts/thanks_after" %>
<%= render partial: "layouts/thanks_before" %>
