<div class="survey-container">

  <form id="<%= @form_id %>" class="survey"  action="http://humanize-api.herokuapp.com/api/responders" method="post">
    <div id="before-survey-questions">
      <h1 class="survey-header">How do you self-identify?</h1>

      <input class="survey-question" type="text" placeholder="Gender" /required>

      <input class="survey-question" type="number" placeholder="Age" /required>

      <select class="survey-question" style="width: 100%;">
        <option selected="true" disabled="disabled">Position</option>
        <option value="1">C-Level</option>
        <option value="2">Senior</option>
        <option value="3">Manager</option>
        <option value="4">Staff</option>
      </select>

      <button type="button" class="btn survey-button" id="next-survey-btn"><span>Next</span></button>
    </div>

    <div id="after-survey-questions">
      The thing!
    </div>
  </form>
</div>
