<div class="survey-container">

  <form id="<%= @form_id %>" class="survey" action="http://humanize-api.herokuapp.com/api/v1/companies/1/sessions/1/responders" method="post">
    <div id="before-survey-questions">
      <h1 class="survey-header">How do you self-identify?</h1>
      <h5 class="survey-header-sub"></h5>

      <input name="[responder]gender" class="survey-question" type="text" placeholder="Gender">

      <input name="[responder]age" class="survey-question" type="number" placeholder="Age">

      <select name="[responder]position" class="survey-question" style="width: 100%;">
        <option selected="true" disabled="disabled">Position</option>
        <option value="1">C-Level</option>
        <option value="2">Senior</option>
        <option value="3">Manager</option>
        <option value="4">Staff</option>
      </select>

      <button type="button" class="btn survey-button" id="next-survey-btn">
        <span>Next</span>
      </button>
    </div>

    <div id="after-survey-questions">
      <h1 class="survey-header">Let's reflect!</h1>
      <h5 class="survey-header-sub">(Remember, your responses are completely anonymous.)</h3>

      <div class="reflection-question-container">
        <div class="reflection-question-text">I feel supported and accepted by my coworkers.</div>
        <input name="response1_value" type="range" min="1" max="7" value="4" list="q1-answer" class="reflection-question" id="reflection-question-one" />
        <datalist id="q1-answer">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </datalist>
      </div>

      <div class="reflection-question-container">
        <div class="reflection-question-text">My surroundings promote a productive and collaborative environment.</div>
        <input name="response2_value" type="range" min="1" max="7" value="4" list="q2-answer" class="reflection-question" id="reflection-question-two" />
        <datalist id="q2-answer">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </datalist>
      </div>

      <div class="reflection-question-container">
        <div class="reflection-question-text">I value and respect diversity in gender, age, and culture.</div>
        <input name="response3_value" type="range" min="1" max="7" value="4" list="q3-answer" class="reflection-question" id="reflection-question-three" />
        <datalist id="q3-answer">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </datalist>
      </div>

      <% if pre?(@form_id) %>
        <input type="hidden" name="responder[before]" value="true" class="survey-question">
        <input type="hidden" name="responder[session_id]" value="1" class="survey-question">
        <button id="submit-survey-btn" class="btn survey-button"><span>Submit</span></button>
      <% else %>=
        <input type="hidden" name="responder[before]" value="false" class="survey-question">
        <input type="hidden" name="responder[session_id]" value="1" class="survey-question">
        <button id="submit-survey-btn" class="btn  survey-button"><span>Submit</span></button>
      <% end %>
    </div> <!-- End of after-survey questions div -->
  </form>
</div>
