<div class="survey-container">

  <form id="<%= @form_id %>" class="survey"  action="http://humanize-api.herokuapp.com/api/responders" method="post">
    <div id="before-survey-questions">
      <h1 class="survey-header">How do you self-identify?</h1>

      <input class="survey-question" type="text" placeholder="Gender" /required>

      <input class="survey-question" type="number" placeholder="Age" /required>

      <select class="survey-question" style="width: 100%;">
        <option selected="true" disabled="disabled">Position</option>
        <option value="1">C-Level</option>
        <option value="2">Senior</option>
        <option value="3">Manager</option>
        <option value="4">Staff</option>
      </select>

      <button type="button" class="btn survey-button" id="next-survey-btn"><span>Next</span></button>
    </div>

    <div id="after-survey-questions">
      <h1 class="survey-header">Let's reflect!</h1>
      <h5 class="survey-header">(Remember, your responses are completely anonymous.)</h3>

      <div class="reflection-question-container">
        I feel supported and accepted by my coworkers.
        <div class="range-explainer">
          <div class="range-explainer-low">
            disagree
          </div>
          <div class="range-explainer-high">
            agree
          </div>
        </div>
        <input type="range" min="1" max="7" value="4" list="q1-answer"/>
        <datalist id="q1-answer">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </datalist>
      </div>

      <div class="reflection-question-container">
        My surroundings promote a productive and collaborative environment.
        <div class="range-explainer">
          <div class="range-explainer-low">
            disagree
          </div>
          <div class="range-explainer-high">
            agree
          </div>
        </div>
        <input type="range" min="1" max="7" value="4" list="q2-answer"/>
        <datalist id="q2-answer">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </datalist>
      </div>

      <div class="reflection-question-container">
        I value and respect diversity in gender, age, and culture.
        <div class="range-explainer">
          <div class="range-explainer-low">
            disagree
          </div>
          <div class="range-explainer-high">
            agree
          </div>
        </div>
        <input type="range" min="1" max="7" value="4" list="q3-answer"/>
        <datalist id="q3-answer">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </datalist>
      </div>
    </div> <!-- End of after-survey questions div -->
  </form>
</div>
