<form id="<%= @form_id %>" class="survey" action="http://humanize-api.herokuapp.com/api/responders" method="post" style="width: 20%; margin: 0 auto;">

  <div class="card">
    <!-- Alternative to card headers: card titles. Explore -->
    <div class="card-header">
      About Me
    </div>
    <div class="card-block card-block text-xs-center">
      <input type="text" placeholder="Gender" /required>
      <br><br>
      <input type="number" placeholder="Age" /required>
      <br><br>
      <!-- Previously: had class="custom-select" from bootstrap -->
      <select style="width: 100%;">
        <option selected>Position</option>
        <option value="1">C-Level</option>
        <option value="2">Senior</option>
        <option value="3">Manager</option>
        <option value="4">Staff</option>
      </select>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Self-Reflection
    </div>
    <div class="card-block">
      <div class="reflection-question-container">
        I feel supported and accepted by my coworkers.
        <div class="range-explainer">
          <div class="range-explainer-low">
            disagree
          </div>
          <div class="range-explainer-high">
            agree
          </div>
        </div>
        <input type="range" min="1" max="5" value="3" list="q1-answer"/>
        <datalist id="q1-answer">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </datalist>
      </div>

      <div class="reflection-question-container">
        My surroundings promote a productive and collaborative environment.
        <div class="range-explainer">
          <div class="range-explainer-low">
            disagree
          </div>
          <div class="range-explainer-high">
            agree
          </div>
        </div>
        <input type="range" min="1" max="5" value="3" list="q1-answer"/>
        <datalist id="q1-answer">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </datalist>
      </div>

      <div class="reflection-question-container">
        I value and respect diversity in gender, age, and culture.
        <div class="range-explainer">
          <div class="range-explainer-low">
            disagree
          </div>
          <div class="range-explainer-high">
            agree
          </div>
        </div>
        <input type="range" min="1" max="5" value="3" list="q1-answer"/>
        <datalist id="q1-answer">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </datalist>
      </div>

    </div>
  </div>

  <% if pre?(@form_id) %>
    <input type="hidden" name="redirect-path" value="tips">
    <button data-toggle="modal" data-target="#thanks-before" style="float: right;">Submit</button>
  <% else %>
    <input type="hidden" name="redirect-path" value="splash">
    <button data-toggle="modal" data-target="#thanks-after" style="float: right;">Submit</button>
  <% end %>

</form>

<%= render partial: "layouts/thanks_after" %>
<%= render partial: "layouts/thanks_before" %>
