<div id="tips-container">
  <h1 id="helpful-tip">Helpful Tips for EQ Sessions</h1>
  <br>

  <div class="tip-section" id="ask-feedback">
    <p class="list-title">ASK Feedback</p>
      <ul class="tips-list">
        <li>"I feel _____ when you _____."</li>
        <li>Actionable: tell your partner what was done well and what could be better in the future.</li>
        <li>Specific: help your partner by giving them a specific way to improve rather than a blanket statement.</li>
        <li>Kind: getting feedback is hard. Remember to communicate in a way that is gentle and kind.</li>
      </ul>
  </div>

  <div class="tip-section" id="active-listening">
    <p class="list-title">Active Listening</p>
      <ul class="tips-list">
        <li>Look at the speaker directly.</li>
        <li>Put aside distracting thoughts.</li>
        <li>Maintain an open and inviting posture.</li>
        <li>Reflect back to the speaker what you heard before going into your response.</li>
      </ul>
  </div>

  <%= image_tag("h-bot-friends2.png", :id => "bot-friends") %>
</div>
