<div id="tips-header">
  <p><h1 id="helpful-tip">Helpful Tips for EQ Sessions</h1></p>
</div><br>

<div id="ask-container">
  <p id="ASK">ASK Feedback</p>
  <div id="ee-description">
    <ul id="ask-list">
      <li>Actionable: tell your partner what was done well and what could be better in the future.</li>
      <li>Specific: help your partner by giving them a specific way to improve rather than a blanket statement.</li>
      <li>Kind: getting feedback is hard. Remember to communicate in a way that is gentle and kind.</li>
      <li>"I feel _____ when you _____."</li>
    </ul>
  </div>
</div>

<%= image_tag("h-bot-friends.png", :id => "bot-friends") %>

<div id="listening-container">
  <p id="active-listening">Active Listening</p>
  <div id="listening-container">
    <ul id="listening-list">
      <li>Look at the speaker directly.</li>
      <li>Put aside distracting thoughts.</li>
      <li>Maintain an open and inviting posture.</li>
      <li>Reflect back to the speaker what you heard before going into your response.</li>
    </ul>
  </div>
</div>
