<div id="tips-header">
  <p><h1>Helpful Tips for EQ Sessions</h1></p>
</div><br>

<div id="ee-title">
  <p id="ASK">ASK Feedback</p>
  <div id="ee-description">
    <ul id="ask-list">
      <li>Actionable: tell your partner what was done well and what could be better in the future.</li>
      <li>Specific: help your partner by giving them a specific way to improve rather than a blanket statement.</li>
      <li>Kind: getting feedback is hard. Remember to communicate in a way that is gentle and kind.</li>
      <li>"I feel _____ when you _____."</li>
    </ul>
  </div>
</div>
