/* CSS to style the arrow */
.arrow {
  white-space: nowrap;
  font-size: 4rem;
  position: absolute;
  right: 0;
  bottom: 50px;
  left: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  color: #666;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -ms-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}

/* this sets the position of the arrow when it's up, so it will move up or down by 14px when you add or remove this class */
.lift {
  bottom: 64px;
}

/* CSS for nav bar for homepage */

.homepage-nav-container{
  height: 90px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  padding-right: 2em;
  margin: 0;
}

.homepage-nav-container a, .homepage-nav-container a:hover, .homepage-nav-container a:active, .homepage-nav-container a:visited{
  padding-left: 3em;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  color: #303031;
  text-decoration: none;
}

.homepage-nav-container a:hover{
  color: #277078;
}

/* CSS for dividers */
.stripe{
  width: 100%;
  margin-top: -10vh;
}

.first-stripe{
  margin: 0;
  margin-bottom: 0vh;
}

/* hide icons while they are not scrolled to yet */
.icon-hidden{
  color:white;
}
