$blue: #0099aa;
$white: #f2f2f2;

html, body {
  height: 100%;
  margin: 0;
}

h2 {
  padding: 20% 0 0 0;
  margin: 0;
  text-align: center;
  font-size: 50px;
}

p {
  text-align: center;
  color: transparentize($white, .5);
}

section {
  height: 100%;
  color: #303031;
  // color: white;
  position: relative;
  text-align: center;



  &#bye {
    // background: #fff;

    &.is-active {
      // background: #000000;
    }
    height: auto;
  }

  .inner {
    margin: 0 auto;
    max-width: 85%;
  }

  .inner-container-one{
    padding-top: 4em;
    // padding: 20% 0 0 0;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid red;
  }

  .screen-text-one{
    width: 40%;
    // border: 1px solid #000;
    text-align: left;
    text-justify: inter-word;
    font-size: 3em;
    line-height: 1.23em;
    letter-spacing: 0.03em;
  }

  .main-bot-container{
    width: 36%;
    // border: 1px solid #000;
  }

  #main-bot{
    width: 100%;
    height: auto;
  }

  .inner-container-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
    margin-top: 5em;
    // border: 1px solid red;
  }

  .info-container{
    // border: 1px solid blue;
  }

  .info-container{
    padding: 2.6em 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-icon{
    font-size: 7em;
    margin: 0;
    margin-left: 0;
    // padding: 0 1em;
  }

  .icon-container{
    // border: 1px solid green;
  }

  .info-text{
    text-align: left;
    padding: 0 1.75em;
    width: 75%;
    font-size: 2.3em;
    line-height: 1.2em;
    letter-spacing: .05em;
  }

  .inner-container-three{
    // padding: 15% 0 0 0;
    margin: 0;
    text-align: center;
    // font-size: 50px;
  }

  .inner-container-four{
    // padding: 15% 0 0 0;
    margin: 0;
    text-align: center;
  }

  .inner-container-five, .inner-container-six{
    // padding: 15% 0 0 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // text-align: center;
  }

  .inner-container-six{
    margin-top: 2em;
    margin-bottom: 3em;
    font-size: 2.2em;
    letter-spacing: .025em;
  }

  .privacy-header{
    font-size: 3.5em;
    margin-bottom: 1em;
    text-align: left;
    width: 60%;
  }

  .privacy-text{
    font-size: 2.25em;
    width: 60%;
    text-align: left;
    letter-spacing: .025em;
  }
}

// Bouncing arrow
.fa-angle-down {
  position: absolute;
  width: 100%;
  height: 100%;
  // font-size:
}

.arrow {
  white-space: nowrap;
  font-size: 4rem;
  position: absolute;
  right: 0;
  bottom: 50px;
  left: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -ms-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}

/* this sets the position of the arrow when it's up, so it will move up or down by 14px when you add or remove this class */
.lift {
  bottom: 64px;
}
