#thankyou-main {
  margin-left: 10em;
  padding: 50px;
  width: 55%
}

div h1 {
  color: #277078;
  font-size: 3.2em;
  font-weight: bold;
  margin-top: .8em;
  margin-bottom: .4em;
  letter-spacing: .12em;
}

div p {
  margin-top: 1.4em;
  margin-bottom: 1em;
  width: 120%;
}

#thankyou-content p {
  color: #303031;
  font-size: 1.8em;
  text-align: left;
  width: 90%;
}

#thankyou-image {
  float: right;
  margin-top: 21em;
  margin-right: 8em;
  padding: 50px;
  width: 25%;
}
