/* Container everything else goes into */
#tips-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#helpful-tip {
  color: #277078;
  font-size: 3.2em;
  font-weight: bold;
  letter-spacing: .12em;
  margin-top: 1.5em;
  margin-left: 1em;
  margin-bottom: -1em;
  text-align: center;
  width: 64%;
}

.tip-section {
  align-content: center;
  margin-top: 1em;
  margin-left: 11.75em;
}

#active-listening {
  margin-top: -1em;
}

.list-title {
  display: flex;
  width: 100%;
  color: #303031;
  font-weight: bold;
  margin-bottom: .75em;
  font-size: 2em;
  letter-spacing: .05em;
}

.tips-list {
  color: #303031;
  margin-left: .5em;
  padding-left: -5px;
  font-size: 1.5em;
}

ul li {
  margin: 0 0 .4em 0;
}

/* Bot friends image */
#bot-friends{
  width: 24%;
  margin-left: 85em;
  margin-top: -15em;
  margin-bottom: 2em;
}
