<!DOCTYPE html>
<html>
  <head>
    <title>HumanizeFace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
  </head>

  <body>
    <h1 color="red">FLAGRANT</h1>
    <%= yield %>
  </body>
</html>
